/*
STYLES
0- BASE
1- PADDING - MARGIN
2- COLORS
3- BUTTONS
4- MENUBAR
5- HEADER
6- PROJECTS
*/

html,
body,
.v-application {
  font-family: 'Montserrat', sans-serif !important;
}

/* BASE */
h3 {
  font-size: 2.3333333333em;
  letter-spacing: -1px;
  margin-bottom: 1.75rem;
  color: $dark-grey;
}
h4 {
  color: $light-grey;
}
span {
  display: block;
  color: $gm-red;
  margin-top: -0.25rem;
  font-size: 1.5rem;
}
.v-responsive__content {
  display: flex;
  justify-content: flex-end;
}

.img-responsive{
  width: 100%;
}

/* PADDING - MARGIN */
.pb40 {
  padding-bottom: 40px;
}

/* COLORS */
.gm-color-red {
  color: $gm-red;
}

.gm-red-background {
  background-color: $gm-red !important;
  border-color: $gm-red !important;
}

/* BUTTONS */
.gm-bordered-button {
  background-color: $white;
  border: 1px solid $dark-grey;
  color: $white;
  text-align: center;
  font-size: 17px;
  padding: 20px !important;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.gm-bordered-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: $dark-grey;
}

.v-application a.underlinedLink {
  margin: 0 5px 0 5px;
}

.underlinedLink {
  position: relative;
  padding-top: 1rem !important;
  display: inline-flex;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 2px;
  transition: color 0.25s;
}
.underlinedLink:hover {
  color: $gm-red;
  text-decoration: none;
}
.underlinedLink:hover:before {
  -webkit-transform: scaleX(1.1);
  transform: scaleX(1.1);
}
.underlinedLink:before {
  position: absolute;
  right: 0;
  bottom: -0.125rem;
  left: 0;
  display: block;
  height: 0.125rem;
  background-color: currentColor;
  content: '';
  transition-duration: 0.25s;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
}

/* MENUBAR */
.menuBar {
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%) !important;
  opacity: 0.95;
}
.menuBar.v-app-bar--is-scrolled {
}
.menuBarLogo {
  width: 170px;
}
.menuBarLink {
  position: relative;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 2px;
  transition: color 0.25s;
}

.menuBarLink:hover {
  color: $gm-red;
  text-decoration: none;
}

/* HEADER */

.gm_header {
  min-height: 90vh;
  display: flex;
}

.gm_header .header_title {
  font-size: 4rem;
}

/* PROJECTS */
.gm-projects {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  border-top: 0.0625rem solid transparent;
  border-left: 0.0625rem solid transparent;
}

.gm-projects__item {
  position: relative;
  display: flex;
  height: 9.375rem;
  align-items: center;
  justify-content: center;
  margin-top: -0.0625rem;
  margin-left: -0.0625rem;
}
.gm-projects__item {
  width: 33.3%;
}
.gm-projects__item:after,
.gm-projects__item:before {
  position: absolute;
  background-color: #eaeaea;
  content: '';
}
.gm-projects__item:before {
  top: 0;
  left: 0.9375rem;
  width: calc(100% - 1.875rem);
  height: 1px;
}
.gm-projects__img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 75%;
  max-height: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.gm-projects__item:after {
  top: 0.9375rem;
  left: 0;
  width: 0.0625rem;
  height: calc(100% - 1.875rem);
}
.gm-projects__item:after,
.gm-projects__item:before {
  position: absolute;
  background-color: #eaeaea;
  content: '';
}

@media (min-width: 1904px) {
  .container {
    max-width: 1185px;
  }
}
