/* PADDING - MARGIN */
.pb40{
  padding-bottom: 40px;
}

h3 {
  font-size: 2.3333333333em;
  letter-spacing: -1px;
  margin-bottom: 1.75rem;
  color: $dark-grey;
}
h4 {
  color: $light-grey;
}
span {
  display: block;
  color: $gm-red;
  margin-top: -0.25rem;
}
/* COLORS */
.gm-color-red {
  color: $gm-red;
}

.gm-red-background {
  background-color: $gm-red !important;
  border-color: $gm-red !important;
}

/* BUTTONS */
.gm-bordered-button {
  background-color: $white;
  border: 1px solid $dark-grey;
  color: $white;
  text-align: center;
  font-size: 17px;
  padding: 20px !important;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
}

.gm-bordered-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: $dark-grey;
}

.v-responsive__content {
  display: flex;
  justify-content: end;
}

.v-application a.underlinedLink {
  margin: 0 5px 0 5px;
}

.underlinedLink {
  position: relative;
  padding-top: 1rem !important;
  display: inline-flex;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 2px;
  transition: color 0.25s;
}
.underlinedLink:hover {
  color: $gm-red;
  text-decoration: none;
}
.underlinedLink:hover:before {
  -webkit-transform: scaleX(1.1);
  transform: scaleX(1.1);
}
.underlinedLink:before {
  position: absolute;
  right: 0;
  bottom: -0.125rem;
  left: 0;
  display: block;
  height: 0.125rem;
  background-color: currentColor;
  content: '';
  transition-duration: 0.25s;
  transition-property: background-color, -webkit-transform;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
}

.gm_header {
  min-height: 70vh;
  display: flex;
}



.menuBarLink {
  position: relative;
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 2px;
  transition: color 0.25s;
}

.menuBarLink:hover {
  color: $gm-red;
  text-decoration: none;
}

@media (min-width: 1904px) {
  .container {
    max-width: 1185px;
  }
}
